h1{
    font-family: 'Monoton';font-size: 22px;
    font-size: 85px;
    text-align: center;
    margin-top:2.5%;
    color:cyan;
}
#img{
    height:140px;
    width:140px;
    margin-top:2.5%;
}
.cube{
    transform:preserve-3d;
    width:200px;
    height:200px;
    margin:auto;
}
.cube img{
    position:absolute;
    opacity:0.8;
}