 body{
     background-color: azure;
     background-position: center;
     font-family:'Lato';
     font-weight: 300;
     position: relative;
     height:100vh;

 }
 h1{
    font-family: 'Monoton';font-size: 22px;
    font-size: 85px;
    text-align: center;
    margin-top:2.5%;
    color:cyan;
}

#img{
    height:200px;
    width:200px;
    margin-top:2.5%;
}
.wrap{
    margin-top:150px;
    perspective: 1000px;
    perspective-origin: 50% 50%;
}
.cube{
    transform-style:preserve-3d;
    width:100px;
    height:100px;
    margin:auto;
    position:relative;
}
.cube img{
    position:absolute;
    opacity:0.8;
}
.cube img:nth-child(1){
    transform:rotateY(0deg) translateZ(100px);
}
.cube img:nth-child(2){
    transform:rotateY(90deg) translateZ(100px);
}
.cube img:nth-child(3){
    transform: rotateY(180deg) translateZ(100px);
}
.cube img:nth-child(4){
    transform:rotateY(-90deg) translateZ(100px);
}
.cube img:nth-child(5){
    transform:rotateX(90deg) translateZ(100px);
}
.cube img:nth-child(6){
    transform:rotateX(-90deg) translateZ(100px);
}
@keyframes loop{
    from{transform:rotateX(0deg) rotateY(0deg);}
    to{transform:rotateX(360deg) rotateY(360deg);}
}
.cube{
    animation: loop 10s linear infinite;
}
.final-score{
    position: absolute;
    left:50%;
    transform:translateX(-50%);
    top:600px;
    color:greenyellow;
    font-family: 'Lato';
    font-size:18px;
    text-align:center;
    padding:10px;
    width:160px;
    text-transform: uppercase;
}

#dice-1{
    width:120px;
    top:120px;
}
#dice-2{
    width:120px;
    top:250px;
}
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.clearfix::after{
    content:"";
    display:table;
    clear:both;
}
.player-1-panel,
.player-2-panel{
    width: 50%;
    float: left;
    height:600px;
    padding:300px;
}
.player-name{
    font-size:40px;
    text-align:center;
    text-transform:uppercase;
    letter-spacing:2px;
    font-weight:100;
    margin-top: 20px;
    margin-bottom:10px;
    position:relative;
}
.player-score{
    text-align:center;
    font-size:80px;
    font-weight: 100;
    color:peru;
    margin-bottom:130px;
}
.active .player-name {font-weight:300;}
.player-current-box{
    background-color:peru;
    color:beige;
    width: 40%;
    margin:0 auto;
    text-align: center;
}
.player-current-label{
    text-transform:uppercase;
    margin-bottom:10px;
    font-size:10px;
    color:black;
}